* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main_box {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url('keyboard.jpg');
  background-size: cover;
}
.main_box .side_bar {
  position: fixed;
  height: 100vh;
  width: 280px;
  left: -280px;
  background-color: rgba(255,255,255, 0.1);
  box-shadow: 0 0 6px rgba(255,255,255, 0.5);

}
.side_bar .logo{
  width: 100%;
  height: 60px;
  position: absolute;
  box-shadow: 0 2px 4px rgba(255,255,255, 0.5);
}
.side_bar .logo a{
  color: #fff;
  text-decoration: none;
  font-size: 25px;
  font-weight: 500;
  position: absolute;
  left: 50px;
  line-height: 60px;
}
.side_bar .menu{
  position: absolute;
  top: 80px;
  width: 100%;
}
.side_bar .menu li{
  margin-top: 6px;
  padding: 14px 20px;
}
.side_bar .menu i{
padding-right: 8px;
}
.side_bar .menu a{
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}
.side_bar .menu li:hover{
  box-shadow:0 4px 6px rgba(255,255,255, 0.5) ;
}
.side_bar .social_media{
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  list-style: none;
}
.side_bar .social_media i{
  padding: 0 5px;
  color: #fff;
  opacity: 0.6;
  font-size: 20px;
}
.side_bar .social_media i:hover{
  opacity: 1;
  transition: all 0.2s linear;
  transform: scale(1.01);
}
#check{
  display: none;
}
.btn_one i{
  color: #fff;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 16px;
  line-height: 60px;
  cursor: pointer;
  opacity: 1;
  transition: all 0.3s linear;
}
.btn_two i{
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  left: 240px;
  line-height: 60px;
  cursor: pointer;
  opacity: 1;
  transition: all 0.3s linear;
}
.btn_one i:hover{
  font-size: 29px;
}
.btn_two i:hover{
  font-size: 24px;
}
#check:checked ~ .side_bar{
  left: 0;
}
